body {
    font-family: Arial, sans-serif;
}

#newProject {
    margin-bottom: 10px;
}

#projectTable {
    margin-top: 4vh;
    width: 100%;
    border-collapse: collapse;
}
#projectTable th, #projectTable td {
    border: 1px solid #ddd;
    padding: 8px;
}
#projectTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
#projectTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgray;
    color: rgb(0, 0, 0);
}
button{
    border-radius: 10px;
}
body{
    font-family: Arial, sans-serif;
}
.input{
    display: flex;
    gap: 6vh;
}
.input div{
    display: flex;
    height: 5vh;
}