*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #0b1d34;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: aliceblue;
}


a:hover{
    box-shadow: 0 1px white;
}

button{
    border: none;
}
/* header start */

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    border: solid;
    align-items: center;
}


.header-left {
    color: aliceblue;
}


.header-right {
    font-size: small;
    display: flex;
    gap: 30px;
    color: aliceblue;
}


.Button-1 {
    width: 100px;
    border-radius: 20px;
    color: aliceblue;
    background: aqua;
}

.Button-1:hover{
    background: black;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-name {
    font-size: 20px;
}


/* header end */

/* <!-- nav start --> */
.nav {
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}

.nav-left {
    margin-top: 150px;
}

.nav-right {
    margin-top: 30px;
}

.name-1 {
    width: 140px;
    border-radius: 4px;
    background: blue;
}
.name-2 {
    font-size: 30px;
}
.name-3 {
    font-size: 30px;
    color: blue;
}


.Button-2 {
    color: aliceblue;
    background: blue;
}


.nav-touch {
    display: flex;
    gap: 30px;
}


.Button-2{
    width: 140px;
    border-radius: 20px;
}
.Button-2:hover{
    background: black;
}
/* nav end  */

/* <!-- Section About Us start --> */
    
.Section {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}


.Section-name-1 {
    width: 100px;
    background: blue;
    border-radius: 20px;
}
.Section-name-2 {
    font-size: 30px;
}
.Section-name-3 {
    font-size: 30px;
}

.Section-name-5 {
    display: flex;
    gap: 10px;
}
.Section-name-4-1 {
    border: solid;
    width: 115px;
}
.Section-name-4-1-1 {
    font-size: 30px;
}
.Section-name-4-2 {
    border: solid;
    width: 130px;
}
.Section-name-4-2-1 {
    font-size: 30px;
}
.Section-name-4-3 {
    border: solid;
    width: 130px;
}
.Section-name-4-3-1 {
    font-size: 30px;
}

.Button-3 {
    color: aliceblue;
    background: blue;
    width: 140px;
    border-radius: 20px;
}

.Button-3:hover{
    background: black;
}

/* <!-- Section About Us end --> */

/* <!-- Section Recent Projects start --> */


.Recent {
    margin-left: 100px;
    margin-top: 30px;
}


.Recent-name {
    color: aliceblue;
}


.Recent-name-1 {
    width: 100px;
    background: blue;
    border-radius: 5px;
}

.Recent-name-2 {
    font-size: 30px;
}

.vuong {
    padding-top: 20px;
    display: flex;
    justify-content: center ;
    width: 300px;
    height: 300px;
    background: white;
}


.chu-nhat {
    width: 90%;
    height: 60%;
    background: grey;
}


.chu {
    color: black;
    background: white;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}


.khoi-icon {
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.khoi-icon:hover{
    background: black;
}

.can{
    display: flex;
    gap: 10px;
}

/* <!-- Section Recent Projects end --> */


/* <!-- Section Get In Touch start --> */


.footer {
    margin-top: 30px;
}



.header-footer {
    color: aliceblue;
    width: 100%;
    height: 100px;
    border: solid;
    background: black;
}
.header-footer-1{
    display: flex;
    justify-content: center;
    font-size: 30px;
}


.header-footer-2 {
    display: flex;
    justify-content: center;
}

.content-footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.content-left {
    color: aliceblue;
}
.content-right {
    color: aliceblue;
}

input{
    color: black;
    background-color: aliceblue;
}


textarea{
    color: black;
    background-color: aliceblue;
}


.Button-4 {
    color: aliceblue;
    width: 300px;
    background: blue;
    border-radius: 20px;
}

.Button-4:hover{
    background: black;
}

.footer-icon {
    display: flex;
    gap: 20px;
}


/* <!-- Section Get In Touch end --> */



/* <!-- Section Services start --> */

.content-1 {
    margin-left: 100px;
    color: aliceblue;
}


.chu-nhat-1 {
    background-image: url("./anh/anh2.png");
    width: 300px;
    height: 300px;

}


.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 300px;
}


.icon-1 {
    width: 40px;
    height: 40px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-1-1 {
    margin-left: 10px;
    padding-top: 140px;
}

.text-1 {
    font-size: 15px;
    width: 50px;
    background: blue;
    border-radius: 20px;
}



.text-2 {
    font-size: 30px;
}


.content-2 {
    display: flex;
    gap: 10px;
}

.khung {
    width: 20px;
    height: 20px;
    border: solid aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* <!-- Section Services end --> */